/*KEYFRAMES*/

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/*PAGES*/

html,
body {
  height: 100%;
}

.page-title {
  padding: 5rem 0 3rem 0;
  margin: 0;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.page-subtitle {
  margin: 2rem 0 2rem 0;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.page-txt {
  margin: 2rem 0 5rem 0;
}

.page-footer {
  padding-top: 0;
}

/*HOME*/
.iris {
  background-image: url("../img/home-img-min.jpg");
  background-repeat: no-repeat;
  min-height: 120vh;
  background-size: cover;
  background-position: center;
}

.home-container {
  padding: 5rem 15rem 17rem 15rem;
}

.home-page-title {
  margin: 0rem 0 3rem 0;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/*DISCOVER & COMMENTS*/

.pages-background {
  background-image: url("../img/pages-background.jpg");
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  background-position: center;
}

.discover-container {
  padding: 2rem 0 2rem 0;
}

.discover-div {
  padding-bottom: 2rem;
}

.discover-txt {
  margin-left: 10rem;
  margin-right: 10rem;
}

/*PLAY*/
#play-carousel {
  margin-bottom: 250px;
}

/*COMMENTS*/

.comments-background {
  background-image: url("../img/comments-background.jpg");
  background-repeat: no-repeat;
  min-height: 86vh;
  background-size: cover;
  background-position: center;
}

.comm-card {
  padding: 30px 10px 10px 30px;
}

#user_img_comments {
  margin-top: 15px;
}

/*NOTATION PAR ETOILES*/
.rating-stars ul {
  list-style-type: none;
  padding: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
}
.rating-stars ul > li.star {
  display: inline-block;
}

/* Etoiles de base */
.rating-stars ul > li.star > i.fa {
  font-size: 1.5em; /* Change the size of the stars */
  color: #ccc; /* Color on idle state */
}

/* Etoiles au survol */
.rating-stars ul > li.star.hover > i.fa {
  color: #ffcc36;
}

/* Etoiles sélectionnées */
.rating-stars ul > li.star.selected > i.fa {
  color: #ff912c;
}

/*ENIGMAS*/

.enigmas-title {
  margin: 0;
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.enigmas-subtitle {
  text-align: center;
  margin: 3rem 0 3rem 0;
}

.enigma-img {
  margin: 2rem 0 2rem 0;
}

.enigma-submit-btn {
  margin: 1rem 0 1rem 0;
}

/*CANVAS*/

#signature_canvas {
  margin-top: 30px;
}

#canvas {
  width: 1240px;
  height: 720px;
  border: 1px solid #cecece;
  margin: 0 auto 40px;
  display: block;
  background-image: url("../img/lucky_luke/laby.png");
}

.btn-choices {
  margin: 25px 25px 25px 25px !important;
}

/*LOGIN*/

.login-background {
  background-image: url("../img/login-background-2.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

/*ESPACE PERSONNEL*/

.user_img {
  width: 70px;
  height: 70px;
  margin-top: 5px;
}

.asterix-table {
  word-wrap: break-word;
  max-width: 50px;
}
